
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
 
mat-sidenav {
    width: 250px;
}
 
main {
    padding: 10px;
}

html, body { 
    margin: 0;
    height: 100%;
}



.sideNav {
    width:300px;
    height: 100%;
    position: fixed;
    background-color: beige; 
    color: black;
    font-size: 30px;
    text-align: center;
    /* margin-left: 10px; */
    margin-right: 40px;
    margin-bottom: 40px;
}


.sideContainer {
    margin-left: 10px;
    font-family: monospace;
}

.sideContent {
    padding: 10px;
    position: fixed;
    margin-bottom: 50px;
    margin-right: 10px;
    background-color: whitesmoke;
}
ul {
    list-style-type: none;
    padding: 10px;
    overflow: hidden;
    display: flex;
  }
  li {
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
    background-color: aliceblue;
  }

  li a {
    text-decoration: none;
  }
